@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff3030;
  --text-color: #ddd;
  --bg-color: #1a1a1a;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}

.hero {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg); */
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  height: calc(100vh - 5rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.title {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Lobster", cursive;
}

.subtitle {
  color: var(--text-color);
  font-size: 1rem;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);

  transition: all 0.2s ease-out;
}
.btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
}

.hero-action {
  margin-top: 4rem;
}

.nav {
  height: 5rem;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.nav-item {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 12.8px;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}
.nav-item:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .btn {
    padding: 1.2rem 2.5rem;
  }
  .nav {
    gap: 2rem;
  }
  .nav-item {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    line-height: 6rem;
  }
  .nav {
    gap: 4rem;
  }
}
